<html layout:decorate="~{layout}">
	<section layout:fragment="content" >

    <div class="container-fluid">
        <img th:src="@{/assets/images/sociacling1.png}">
    </div>
<br>
    <div class="container-fluid">
        <img th:src="@{/assets/images/sociacling2.png}">
    </div>
    <br>
    <div class="container-fluid">
        <img th:src="@{/assets/images/sociacling3.png}">
    </div>
    <br>
    <div class="container-fluid">
        <img th:src="@{/assets/images/sociacling4.png}">
    </div>

    </div>
</section>
</html>